.contact-page{
   display:flex;
   width:100%;
}
.contact{
    height: 610px;
    background-image: linear-gradient(to bottom, #ffffff, #f8f3f8, #f4e6ec, #f2dadb, #eccfc7);
    /* background-image: linear-gradient(to bottom, #ffffff, #f9f6fa, #f6edf3, #f4e3e8, #f2dadb, #efd3d3, #eccdcb, #e9c6c2, #e6bfbf, #e3b9bd, #dfb3bc, #daadbb); */
}

.contact-form{
    /* position:fixed; */
    width:100%;
    margin-top: 40px;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
}
.list{
    margin-top: 50px;
    display: inline;
    padding: 40px;
    color:  #eccfc7;
}
#names,#mail,#subject {
  border: 0 solid 1px;
  margin: 5px;
  /* background: #115173; */
  height: 50px;
  font-size: 16px;
  /* color: #fff; */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
#names,#mail{
    width: 91%;
}
#subject{
    width:96%
}

#message {
  width: 96%;
  border: 0 solid 1px;
  /* background: #115173; */
  height: 50px;
  font-size: 16px;
  /* color: #fff; */
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px;
  border-radius: 5px;
  margin: 5px;

}
.user-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
}
button{
    color: #851485;
    /* color: #eccfc7; */
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 20px 25px;
    border: 1px solid #eccfc7;
    float: center;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
}
button:hover{
    background: #f7bdf7;
    color: #333;
}
.list:hover{
    color: #851485;
}